---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper paper-surface">
      <h1>404</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p>Page Not Found</p>
      <LinkButton
        href="/"
        className="paper-surface paper-surface-hover my-6 inline-flex items-center px-4 py-2 font-mono text-sm"
      >
        Go back home
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center px-4;
  }
  .not-found-wrapper {
    @apply mb-14 flex w-full max-w-xl flex-col items-center justify-center px-6 py-12;
  }
  .not-found-wrapper h1 {
    @apply text-8xl font-bold text-skin-accent sm:text-9xl;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
</style>
