---
import { getLocaleFromPath, getLocalizedPath, type Locale } from "@i18n/utils";

export interface Props {
  tag: string;
  size?: "sm" | "lg";
  locale?: Locale;
}

const {
  tag,
  size = "sm",
  locale = getLocaleFromPath(Astro.url.pathname),
} = Astro.props;
---

<li class={`inline-block ${size === "sm" ? "my-1 mr-2" : "my-3 mr-2"}`}>
  <a
    href={`${getLocalizedPath(locale, "tags")}${tag}/`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-base"} group inline-flex items-center rounded-md border border-skin-line/70 bg-skin-card/65 px-2.5 py-1 font-mono font-medium`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class={`${size === "sm" ? "scale-75" : "scale-90"}`}
      ><path
        d="M16.018 3.815 15.232 8h-4.966l.716-3.815-1.964-.37L8.232 8H4v2h3.857l-.751 4H3v2h3.731l-.714 3.805 1.965.369L8.766 16h4.966l-.714 3.805 1.965.369.783-4.174H20v-2h-3.859l.751-4H21V8h-3.733l.716-3.815-1.965-.37zM14.106 14H9.141l.751-4h4.966l-.752 4z"
      ></path>
    </svg>
    <span>{tag}</span>
  </a>
</li>

<style>
  a {
    @apply text-skin-base no-underline transition-all duration-200 hover:-translate-y-0.5 hover:border-skin-line hover:bg-skin-fill/75 hover:text-skin-accent;
  }
  a svg {
    @apply h-5 w-5 text-skin-base opacity-75 group-hover:fill-skin-accent;
  }
</style>
